body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 575px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.cartela {
    position: absolute;
    width: 70%;
    display: inline-block;
}